<h1>Users</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h3 class="user-name"><%= link_to user.name, user%></h3>
        <%= image_tag user.image.url(:small), class:'img-circle' if user.image? %>
        <div class="caption">
          <div>
            <%user.skills.each do |skill| %>
            <%= skill.name %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
