
<div class='container'>
<%=image_tag("CT.png", :alt=>"connectech")%>
  <h1 class='title'>CONNECTECH</h1>
    <div class='jumbotron jumbotron-fluid' style="background-color: rgba(192,192,192,.1)">
      <h2>Welcome To CONNECTECH</h2>
        <p>
          Missing a skill, but have big ideas? <br>
          Find the person you're looking for to make your project a reality.<br>
        </p>
    </div>
  <button type="button" class="btn btn-default navbar-btn">
    <%=link_to 'Sign Up', new_user_path %>
  </button>

  <button type="button" class="btn btn-default navbar-btn">
    <%= link_to 'Login', login_path %>
  </button>
</div>
