<h1>Projects</h1>
<ul>
  <%@projects.each do |project|%>
    <li>
      <%= link_to project.title, project_path(project) %>
      by
      <%= User.find(project.creator).name %>
    </li>
    <li>
    
    </li>
  <%end%>
</ul>
