@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "sessions";
@import "directory";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

body{
   font-family: 'Josefin Sans', sans-serif;
   color: black;
   background-color: white;
}

body input {
  color:black;
}
// h1{
//   font-size: 40px;
// }

h1{
  font-size: 45px;
}

.navbar_img-responsive {
  width: 60px;
}
.text-navbar {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}
.btn {
  border-radius:0;
  background-color: transparent;
  border: 1px solid black;
}
.thumbnail {
  height: 150px;
  overflow: scroll;
}
.caption {
  text-align: center;
}
.user-name {
  text-align: center;
}
.project-container {
  text-align: center;
  font-size: 25px;
}
#skill-needed {
  font-size: 15px;
  font-weight: bold;
  overflow: scroll;
}
